@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import "./reset.scss";
@import "./variables.scss";
@import "./header.scss";
@import "./footer.scss";

html, body {
	font-family: "Exo 2", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: $black;
	background: $white;
}